
<div class="auth-container">

  <!-- SUCCESS SCREEN -->
  <div *ngIf="loginSuccess" class="success-screen">
    <div class="checkmark">✔</div>
    <h2>Welcome Back!</h2>
    <p>Login successful 🎉</p>
  </div>

  <!-- LOGIN FORM -->
  <div class="auth-card" *ngIf="!loginSuccess">

    <h2>Welcome Back</h2>
    <p class="subtitle">Login to your account</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <input type="email" placeholder="Email" formControlName="email">

      <input type="password" placeholder="Password" formControlName="password">

      <button type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Logging in...' : 'Login' }}
      </button>

    </form>

  </div>

</div>